<ion-header>

    <ion-navbar color="primary">
        <ion-title>Pos Laju Tracking System</ion-title>
        <ion-buttons end>
            <button ion-button icon-right large (click)="about()">
              <ion-icon name="heart" color="light"></ion-icon>
              <!-- info -->
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="bg2">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="nodata" [hidden]="hasData" text-center>
        <div class="img-lori">
            <img src="assets/lori.png" alt="lori">
            <h2>You don’t have any shipping record</h2>
            <p>Tap on the + symbol to get started or pull down to refresh</p>
        </div>
    </div>
    <ion-list padding no-lines>
        <ion-item-sliding *ngFor="let data of displayItem;">
            <ion-item (tap)="trackDetail(data)" detail-push>
                <ion-avatar item-start>
                    <img src="https://image.flaticon.com/icons/svg/46/46021.svg">
                </ion-avatar>
                <h2 class="title"><b>{{data.title}}</b></h2>
                <p>{{data.trackingNum}}</p>

                <p>
                    <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
                    {{data.latestStatus}}
                </p>
            </ion-item>
            <ion-item-options>
                <button ion-button color="danger" expandable icon-start (tap)="delete(i)">
                  <ion-icon name="text"></ion-icon>
                  Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!-- <ion-list padding>
        <ion-item *ngFor="let data of trackNum" (click)="trackDetail(data)">
            {{data}}
        </ion-item>
    </ion-list> -->


    <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="addTracking()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <!-- <div class="footer-img">
        <img src="assets/bottom.jpg" alt="footer">
    </div> -->

</ion-content>