    page-main {
        .nodata {
            height: 100%;
            background: map($colors, primary);
            position: absolute;
            z-index: 1;
        }
        ion-item-sliding {
            position: relative;
            display: block;
            overflow: hidden;
            width: 100%;
            margin-top: 10px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            border-radius: 5px;
        }
        .title {
            padding-top: 3px;
            // color: color($colors, primary)
        }
        .img-lori {
            img {
                margin-top: 40%;
                width: 20%;
            }
            p {
                color: map-get($colors, light );
                margin: 0 30px 5px 30px;
            }
            h2 {
                color: map-get($colors, light );
                padding: 20px;
            }
        }
        .footer-img {
            bottom: 0;
            position: fixed;
        }
        .text-input-md {
            margin: 0px;
            padding: 0;
            width: calc(100% - 8px - 8px);
            }
    }
