page-homeinfo {
    .wrap {
        height: 97%;
    }
    .slide2 {
        // background-color: map-get($colors, primary );
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 70%;
            height: auto;
            margin-bottom: 40px;
        }
        h1 {
            font-weight: bold;
            margin-bottom: 5px;
        }
        p {
            color: map-get($colors, primary);
        }
    }
    .slide3 {
        // background-color: map-get($colors, primary);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 70%;
            height: auto;
            margin-bottom: 40px;
        }
        h1 {
            font-weight: bold;
            margin-bottom: 5px;
        }
        p {
            color: #fff;
        }
    }
}
