page-info {
  ion-card-content {
    padding-top: .1em !important;
  }
  .logo {
    width: 50%;
    margin: 1em auto 1em auto;
    display: block;
  }
  .info {
    margin: 1em;
    word-wrap: break-word;
  }
}
