// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: LatoRegular;
    src: url('../assets/fonts/Lato-Regular.ttf.woff');
}

* {
    font-family: LatoRegular;
    font-weight: normal;
    font-style: normal;
}

.bg {
    // background: #FAF9FF;
    background: map-get($colors, bg);
}

.bg2 {
    background: map-get($colors, primary);
}

.hide-card {
    -webkit-box-shadow: none !important;
    border-radius: 0px;
    width: 100%;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    background: url('../assets/pos.jpg');
    background-size: cover;
    background-position: center;
    background: map-get($colors, primary);
    h2 {
        color: map-get($colors, light) !important;
        margin-top: 15px !important;
        font-weight: bold;
    }
    p {
        color: map-get($colors, light) !important;
    }
}

.footer {
    -webkit-box-shadow: none !important;
    border-radius: 0px;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: map-get($colors, primary);
    position: absolute;
    bottom: 0;
    p {
        color: rgba(255, 255, 255, 0.726) !important;
    }
}

.custom-avatar {
    height: 30vw;
    width: 30vw;
    border: map-get($colors, danger);
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
